
<div class="row">
    <div class="col-xs-12 text-center">
      <img src="{{(recipesState|async).recipes[recipeId].imageUrl}}" alt="" class="img-responsive thumbnail" [style]="{'maxHeight':'300px'}">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>
        {{(recipesState|async).recipes[recipeId].name}}
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button class="btn btn-primary dropdown-toggle">Manage
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" >
          <li>
            <a style="cursor:pointer;" (click)="addToShoppingList()">To Shopping List</a>
          </li>
          <li>
            <a style="cursor:pointer;" [routerLink]="['edit']">Edit</a>
          </li>
          <li>
            <a style="cursor:pointer;" (click)="deleteRecipe()">Delete</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <h4>Description:</h4>
      <p>
        {{(recipesState|async).recipes[recipeId].description}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h4>Ingredients List:</h4>
      <ul class="list-group">
          <li *ngFor='let ingredient of (recipesState|async).recipes[recipeId].ingredients' class="list-group-item">{{ingredient.name}} ({{ingredient.amount}})</li>
      </ul>
    </div>
  </div>