<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form (ngSubmit)="createAccount()" #signUpForm="ngForm">
      <div class="form-group">
        <label for="email"> E-mail: </label>
        <input type="email" name="email" id="email" ngModel required email class="form-control">
      </div>
      <div class="form-group">
        <label for="password"> Password </label>
        <input type="password" name="password" id="password" ngModel required class="form-control" minlength="6">
      </div>
      <div class="form-group text-center">
        <button class="btn btn-success" [disabled]='!signUpForm.valid' type="submit">
          Register
        </button>
      </div>
    </form>
  </div>
</div>